.tablecss{
	width:640px;
	height:432px;
	margin-top:56px;
	margin-left:150px;
}
.tdfirst{
	background-color:#00B17D;
	width:150px;
	height:136px;
	border-radius:10px;
	text-align:center;
    vertical-align:middle;
	overflow:hidden;
    position:relative;
    display:table-cell;
	color:white;
	letter-spacing:5px;
	font-weight:bold;
	font-family: Î¢ÈíÑÅºÚ;
}
.tdfirst1{
	background-color:#D64D54;
	width:150px;
	height:136px;
	border-radius:10px;
	text-align:center;
    vertical-align:middle;
	overflow:hidden;
    position:relative;
    display:table-cell;
	color:white;
	letter-spacing:5px;
	font-weight:bold;
	font-family: Î¢ÈíÑÅºÚ;
}
.tdfirst2{
	background-color:#47A4E9;
	width:310px;
	height:136px;
	border-radius:10px;
	text-align:center;
    vertical-align:middle;
	overflow:hidden;
    position:relative;
    display:table-cell;
	color:white;
	letter-spacing:5px;
	font-weight:bold;
	font-family:Î¢ÈíÑÅºÚ;
}
.tdfirst3{
	background-color:#B87AC5;
	width:150px;
	height:277px;
	border-radius:10px;
	text-align:center;
    vertical-align:middle;
	overflow:hidden;
    position:relative;
    display:table-cell;
	color:white;
	letter-spacing:5px;
	font-weight:bold;
	font-family:Î¢ÈíÑÅºÚ;
}
.tdfirst4{
	background-color:#22A2AB;
	width:150px;
	height:136px;
	border-radius:10px;
	text-align:center;
    vertical-align:middle;
	overflow:hidden;
    position:relative;
    display:table-cell;
	color:white;
	letter-spacing:5px;
	font-weight:bold;
	font-family:Î¢ÈíÑÅºÚ;
}
.tdfirst5{
	background-color:#A27AC3;
	width:150px;
	height:136px;
	border-radius:10px;
	text-align:center;
    vertical-align:middle;
	overflow:hidden;
    position:relative;
    display:table-cell;
	color:white;
	letter-spacing:5px;
	font-weight:bold;
	font-family:Î¢ÈíÑÅºÚ;
}
.tdfirst6{
	background-color:#16A086;
	width:150px;
	height:136px;
	border-radius:10px;
	text-align:center;
    vertical-align:middle;
	overflow:hidden;
    position:relative;
    display:table-cell;
	color:white;
	letter-spacing:5px;
	font-weight:bold;
	font-family:Î¢ÈíÑÅºÚ;
}
.tdfirst7{
	background-color:#0C7D83;
	width:150px;
	height:136px;
	border-radius:10px;
	text-align:center;
    vertical-align:middle;
	overflow:hidden;
    position:relative;
    display:table-cell;
	color:white;
	letter-spacing:5px;
	font-weight:bold;
	font-family:Î¢ÈíÑÅºÚ;
}
.tdfirst8{
	background-color:#D84D6A;
	width:150px;
	height:136px;
	border-radius:10px;
	text-align:center;
    vertical-align:middle;
	overflow:hidden;
    position:relative;
    display:table-cell;
	color:white;
	letter-spacing:5px;
	font-weight:bold;
	font-family:Î¢ÈíÑÅºÚ;
}
.tdfirst9{
	background-color:#4787E9;
	width:150px;
	height:136px;
	border-radius:10px;
	text-align:center;
    vertical-align:middle;
	overflow:hidden;
    position:relative;
    display:table-cell;
	color:white;
	letter-spacing:5px;
	font-weight:bold;
	font-family:Î¢ÈíÑÅºÚ;
}